<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
  	<typeAlias type="kr.or.ddit.student.model.StudentVO" alias="stdVo"/>
  	<typeAlias type="kr.or.ddit.board.model.BoardVO" alias="boardVo"/>
  	<typeAlias type="kr.or.ddit.posts.model.AttachedFileVO" alias="fileVo"/>
  	<typeAlias type="kr.or.ddit.posts.model.PostsVO" alias="postsVo"/>
  	<typeAlias type="kr.or.ddit.posts.model.RecommentVO" alias="recVo"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="pc04"/>
        <property name="password" value="java"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="kr/or/ddit/mybatis/mapper/attached_file.xml"/>
    <mapper resource="kr/or/ddit/mybatis/mapper/board.xml"/>
    <mapper resource="kr/or/ddit/mybatis/mapper/posts.xml"/>
    <mapper resource="kr/or/ddit/mybatis/mapper/recomment.xml"/>
    <mapper resource="kr/or/ddit/mybatis/mapper/student.xml"/>
  </mappers>  
</configuration>